.button {
	display: inline-block;
	padding: 10px 20px;
	border: solid 1px $color-accent-main;
	color: $color-accent-main;
	background: transparent;
	cursor: pointer;
	transition: .2s;
}

.button:hover {
	text-decoration: none;
	color: $color-accent-main;
	background: transparent;
	opacity: .7;
}