/*--------------------------------------------------------------
# HOMEPAGE
--------------------------------------------------------------*/

.main-img-wrap {
	background: url('images/main-header.jpg');
	background-size: cover;
	background-position: center center;
}

.main-img-wrap h2 {
	@include font-size(3);
	color: $color-white;
	line-height: 1;
	margin-top: 0;
}

.main-img-wrap p {
	@include font-size(1.5);
	color: $color-white;
}

.main-img-wrap .button {
	color: $color-white;
	border: solid 1px $color-white;
	@include font-size(1.5);
}

.main-img-wrap .button:hover {
	color: $color-white;
	border: solid 1px $color-accent-main;
	background: $color-accent-main;
}

/*--------------------------------------------------------------
# TESTIMONIALS
--------------------------------------------------------------*/

.testimonials-wrap {
	padding: 100px 10px;
}


/*--------------------------------------------------------------
# PROGRAMS
--------------------------------------------------------------*/

.programs-wrap {
	background: url('images/programs-section-background.jpg');
	background-size: cover;
	background-position: center center;
}

.programs-wrap h2 {
	text-align: center;
}

.programs-wrap .section-description {
	display: block;
	text-align: center;
	max-width: 850px; 
	color: $color-accent-main;
	clear: both;
	margin: 0 auto;
	margin-bottom: 50px;
}

.program-wrap {
	padding: 20px; 
	background: url('images/program-background.png');
	text-align: center;
}

.program-wrap h3 {
	text-align: center;
	color: $color-white;
	margin-top: 0px;
	padding-top: 0px;
}


/*--------------------------------------------------------------
# ARTICLES
--------------------------------------------------------------*/

.articles-wrap {
	
}

.articles-wrap h2 {
	text-align: center;
}


/*--------------------------------------------------------------
# RECENT POSTS
--------------------------------------------------------------*/

.recent-post {
	max-width: 33%;
	float: left;
}

a:visited {
	color: red;
}